{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container h-150 move-down">
    <div class="row h-150">
        <div class="col-7 col-md-6 col-sm-12 my-auto">
            <h1 class="display-4 logo-font text-yellow">
                Graphic Design's for Creative People
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
        <div class="col-7 col-md-6 col-sm-12 my-auto">
            <h1 class="display-4 mt-5 logo-font text-blue">
                to learn more
            </h1>
            <p class="text-white paragraph"> Please go check out our about page for more information about this website and how to contact us.
                If you had a problem with your order or you have a problem with ordering something please feel free 
                to contact our staff. </p>
            <div class="my-5">
                <h4>
                    <a href="" class="Contact-button btn btn-lg rounded-0 text-uppercase py-3">Contact </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12" >
            <img src="media/banner.png" class="img-fluid" alt="Design-piece">
        </div>
    </div>
</div>
{% endblock %}