{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container h-150 move-down">
    <div class="row h-150">
        <div class=" col-sm-2 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-yellow">
                Graphic Design's for Creative People
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
        <div class="col-sm-2 col-md-6 col-sm-12 my-auto">
            <h1 class="display-4 mt-5 logo-font text-blue">
                to learn more
            </h1>
            <p class="text-white paragraph"> Please go check out our about page for more information about this website
                and how to contact us.
                If you had a problem with your order or you have a problem with ordering something please feel free
                to contact our staff. </p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'about' %}" class="Contact-button btn btn-lg rounded-0 text-uppercase py-3">Contact
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-10 text-center text-white py-3">
            <h1> We are located in Maynooth, Ireland County Kildare</h1>
            <h2> Contact Number: + 0897764598 </h2>
            <div id="map"></div> <!--map is "For Development purposes only" because i do not have billing enabled  -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="media/banner.png" class="img-fluid" alt="Design-piece">
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    function initMap() {
        let location = {
            lat: 53.381210,
            lng: -6.592220
        };
        let map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: location
        });
        let marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvwaR7h-N4gCcaCMuD7KtjjVh4rWH6gXU&callback=initMap">

</script>
{% endblock %}