html {
    height: 100%;
}

body{
    background: url('/media/background-image-cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #FFD700;
    color: white;
    min-width: 260px;
}

#slogan {
    margin: auto;
}


/* Font styling font-size e.g*/

.text-larger {
    font-size: larger;
}

.paragraph {
    font-size: 22px;
}

.logo-font {
    text-transform: uppercase;
}

/* For styling colors e.g*/

.dropdown-item:hover {
    background-color: #6fb7ff;
}

.dropdown-menu {
    background-color: #007FFF;
}

.text-yellow {
    color:#FFFF00;
}

.rating {
    color: #FFD700;
}

.star {
    color: #FFD700;
}

.text-black {
    color: #000;
}

.text-red { 
    color: #e83b3b;
}

.text-green {
    color: #009E60;
}

.text-blue{
    color: #007FFF ;
}
.bg-blue {
    background: #007FFF;
}

.bg-ghostwhite {
    background: #FFFAF0;
}

.bg-yellow {
    background: #ffea00;
}

.bg-darkBlue {
    background: #0066b2;
}

.bg-white {
    background: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.Contact-button {
    background: #0095ff;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-lightBlack {
    background: #23200dcc;
    color: white;
}

#search-button:active,
#search-button:focus {
    background: #ffd900b4;
}

.btn-outline-blue {
    background: #0095ff;
    color: white !important; /* use important to override link colors for <a> elements */
    border: 1px solid #0095ff;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background: #FFD700;
    color: white !important;
    border: 1px solid #FFD700;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ffd900b4;
    color: white;
}

.overlay {
	height: 120%;
	width: 100%;
	background: #f5f5f5;
}

.overlay-2 {
	height: 105%;
	width: 100%;
	background: #ed6161;
}

.all-products {
    color: #0095ff;
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: 4px;
}

.white-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.white-overlay2 {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #FFFAF0;
	z-index: -1;
}

.text-contact {
    color: #FFD700;
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: 10px;
}

.font-weight {
    font-weight: 400;
    font-size: 50px;
}

.weight {
    font-weight: 400;
    font-size: 30px;
}

/* Category button stlying  */

a.category-badge > span.badge:hover {
    background: #FFD700;
    color: #0095ff;
}

span.badge {
    color: #FFD700;
}

.decrement-qty {
    width: 50px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.border-blue {
    background: 1px solid #0095ff;
}

/* textarea */

.textarea {
    resize: none;
}

/* Footer */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #007FFF ;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.7rem;
    transition: color .4 ease;
}

.socials a:hover i {
    color: #ffea00;
}

.footer-bottom {
    background: #0066b2;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    color: #ffd900b4;
    font-weight: 200;
}
/* -------------------------------- Media Queries */

#sort-selector {
    color: #0095ff;
    background-color:  #FFFAF0;
    border: 1px solid #0095ff;
}

/* Slightly larger container on xl screens */
@media (max-width: 1355px) {
 #main-header {
    font-size: smaller;
 }
}
@media (max-width: 530px){
    #slogan {
        font-size: 28px;
    }
}

@media (max-width: 887px) {
    .move-down {
        margin-top: 100px;
    }
}

@media (max-width: 1188px) {
    #main-header {
       font-size: 19px;
    }
   }

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .header-container {
        padding-top: 164px;
    }

}

@media (max-width: 510px) {
    #keep-shooping-button {
        margin-bottom: 30px;
    }
}