<div class="collapse navbar-collapse bg-blue" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 text-larger" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=paintings" class="dropdown-item text-white">Painting's</a>
                <a href="{% url 'products' %}?category=graphic_design" class="dropdown-item text-white">Graphic Design's</a>
                <a href="{% url 'products' %}?category=pixel_art" class="dropdown-item text-white">Pixel Art</a>
                <a href="{% url 'products' %}?category=pixel_art,paintings,graphic_design" class="dropdown-item text-white">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 text-larger" href="{% url 'products' %}?category=paintings" id="paintings-link">
                Painting's
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 text-larger" href="{% url 'products' %}?category=graphic_design" id="graphic_design-link">
                Graphic Design's
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 text-larger" href="{% url 'products' %}?category=pixel_art" id="topixel_art-link">
                Pixel Art
            </a>
        </li>
    </ul>
</div>