{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="white-overlay2"> </div>
<div class="header-container">
    <div class="col-lg-12">
       
    </div>
</div>    
{% endblock %}

{% block content %}
<div class="white-overlay2"> </div>
<div class="container-fluid">
    <div class="col-lg-12">
        <div>
            <div class="text-warning">
                <h2 class="blog-title text-uppercase">{{ blog.title }}</h2>
                <p class="blog-author text-muted h6">By {{ blog.author }} | {{ blog.date_published |date:'D d M Y'}}</p>
                <p> {{blog.intro}}... </p>
                <a class="btn btn-warning read-more " data-toggle="collapse"
                    href="#collapseExample-{{ forloop.counter }}" role="button" aria-expanded="false"
                    aria-controls="collapseExample-{{ forloop.counter }}">
                    Read More &rarr;
                </a>
                <br>
                <div class="collapse" id="collapseExample-{{ forloop.counter }}">
                    <div class="read-more blog-body mx-auto">
                        {{ blog.body }}
                    </div>
                </div>
                <a href="{{ blog.image.url }}">
                    <img class="card-img-top img-fluid blog-image" src="{{ blog.image.url }}"
                        alt="Uploaded blog post image">
                </a>
                <br>
                <a class="btn btn-warning read-more"
                    href="{% url 'detailed_blog' %}" aria-controls="collapseExample-{{ forloop.counter }}">
                    View Post
                </a>
            </div>
        </div>
        
    </div>
</div>    
{% endblock %}
