{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="pink-overlay"> </div>
<div class="header-container blog-headline">
    <div class="col-lg-12">
        <h1 class="text-uppercase text-warning">{{ post.title }}</h1>
        <p class="text-white">By {{ post.author }} | {{ post.date_published |date:'D d M Y'}}</p>
        <br>
        <br>
        <br>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid blog-headline">
    <div class="col-lg-12">
        <h2 class="text-uppercase text-white">{{ post.intro }}</h2>
        <div class="">
            {% if post.image %}
            <a href="{{ post.image.url }}" target="_blank">
                <img class="card-img-top img-fluid blog-image" src="{{ post.image.url }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid blog-image" src="{{ MEDIA_URL }}noimage.png">
            </a>
            {% endif %}
        </div>
        <h3 class=" mb-5 text-white">{{ post.body }}</h3>

    </div>

    {%  if post.author != user %}

    {% else %}
        <a class="btn btn-outline-blue read-more" href="{% url 'edit_post' post.id %}"
            aria-controls="collapseExample-{{ forloop.counter }}">
            Edit Post
        </a>
        <a class="btn btn-danger read-more" href="{% url 'delete_post' post.id %}"
            aria-controls="collapseExample-{{ forloop.counter }}">
            Delete Post
        </a>
    {% endif %}
</div>
{% endblock %}