{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container py-5">
    <div class="row">
        <div class="col-12 text-center text-yellow">
            <h1> About Us And What We Do. </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="paragraph text-center text-white pb-5">
                Here in Creative Design, we specialize in creating art for our followers and fans of our work. We
                dedicate time and effort to create paintings, pixellated art, and graphic designs that you the fan would
                enjoy framing on your wall!!. Everything we do and design has a purpose and meaning behind it. Our
                the creative team here at Creative Design studios wishes you all a great experience with our artwork and
                website, hope you enjoy it.
            </p>

            <p class="paragraph text-center text-white pb-5">
                We operate in a hard-working but very friendly environment where our employees get to experiment with
                their creative side. Being creative is encouraged here in our company, we value honesty and
                understanding since these values can drive our employees to create better content for our followers and
                fans and needless to say for themself's as well. If you want to hear more about how we develop content
                and treat our employees please sign up for our newsletter at the end of the page. <br>
                Thank You.
            </p>

            <p class="paragraph text-center text-white pb-5">
                Check out our social media platforms if you want to find out about our next step or if you are
                interested in learning about how we design or paint our posters we showcase some of the work that we do
                online on our social media pages or if you are very interested we also do courses. If you encounter any
                problems please let us know by using our contact form undernet this paragraph, you will be doing us a
                huge favor by letting us know so please don't hold back!! <br> Thanks.
            </p>

        </div>
    </div>
</div>

<div class="overlay">
    <div class="container header-container py-3 bg-white2">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-contact"> Contact Us Here </h1>

                <div class="col-6 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="full-name" class="text-warning">Full Name</label>
                            <input name="full_name" type="text" class="form-control" id="full-name"
                            >
                        </div>
                        <div class="form-group">
                            <label for="Email" class="text-warning">Email address</label>
                            <input name="email" type="email" class="form-control" id="Email">
                        </div>
                        <div class="form-group">
                            <label for="subject" class="text-warning">Subject</label>
                            <input name="subject" type="text" class="form-control" id="subject"
                            >
                        </div>
                        <div class="form-group">
                            <label for="Textarea" class="text-warning">Message</label>
                            <textarea name="message" class="form-control textarea" id="Textarea" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning float-left">Submit Form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay-2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white py-5 ">
                <h1 class="font-weight"> <strong>Sign Up To Our News letter !! </strong></h1>
                <hr>
            </div>


            <div class="col-12 col-md-6 mx-auto">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://gmail.us11.list-manage.com/subscribe/post?u=5a22bb6823ef11e395c878502&amp;id=3e9397a692"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        {% csrf_token %}
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe</h2>
                            <p> Get exclusive offers and discounts buy signing up to our news letter and you will be
                                notified everytime we have sales
                                on.
                            </p>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_5a22bb6823ef11e395c878502_3e9397a692" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button">
                                    <p class="brandingLogo"><a href="http://eepurl.com/h08U_b"
                                            title="Mailchimp - email marketing made easy and fun"><img
                                                src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="branded-logo"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>

</div>
{% endblock %}