{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container py-5">
    <div class="row">
        <div class="col-12 text-center text-yellow">
            <h1> About Us And What We Do. </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="paragraph text-center text-white pb-5">
                Generating random paragraphs can be an excellent way for writers to get their creative flow going at the
                beginning of the day. The writer has no idea what topic the random paragraph will be about when it
                appears. This forces the writer to use creativity to complete one of three common writing challenges.
                The writer can use the paragraph as the first one of a short story and build upon it. A second option is
                to use the random paragraph somewhere in a short story they create. The third option is to have the
                random paragraph be the ending paragraph in a short story. No matter which of these challenges is
                undertaken, the writer is forced to use creativity to incorporate the paragraph into their writing.
            </p>

            <p class="paragraph text-center text-white pb-5">
                Generating random paragraphs can be an excellent way for writers to get their creative flow going at the
                beginning of the day. The writer has no idea what topic the random paragraph will be about when it
                appears. This forces the writer to use creativity to complete one of three common writing challenges.
                The writer can use the paragraph as the first one of a short story and build upon it. A second option is
                to use the random paragraph somewhere in a short story they create. The third option is to have the
                random paragraph be the ending paragraph in a short story. No matter which of these challenges is
                undertaken, the writer is forced to use creativity to incorporate the paragraph into their writing.
            </p>

            <p class="paragraph text-center text-white ">
                Generating random paragraphs can be an excellent way for writers to get their creative flow going at the
                beginning of the day. The writer has no idea what topic the random paragraph will be about when it
                appears. This forces the writer to use creativity to complete one of three common writing challenges.
                The writer can use the paragraph as the first one of a short story and build upon it. A second option is
                to use the random paragraph somewhere in a short story they create. The third option is to have the
                random paragraph be the ending paragraph in a short story. No matter which of these challenges is
                undertaken, the writer is forced to use creativity to incorporate the paragraph into their writing.
            </p>
        </div>
    </div>
</div>

<div class="overlay"></div>
<div class="container header-container py-5 bg-whitee">
    <div class="row">
        <div class="col-12 text-center text-yellow">
            <h1> Contact </h1>
        </div>
    </div>
</div>
{% endblock %}